<a href="https://colab.research.google.com/github/gabayae/colab-notebooks-in2py/blob/main/In2Py_TP_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [71]:
x=list()
print(x)

[]

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [74]:
x=list(range(0,7))
print(x)

[0, 1, 2, 3, 4, 5, 6]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [75]:
len(x)

7

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [76]:
print('',x[0])
print('',x[((len(x)-1)//2)])
print('',x[-1])

 0
 3
 6

#### **Exercice 04:** 
>**Déclarez une liste appelée mixed_data_types, mettez votre (nom, âge, taille, état civil, adresse).**

In [82]:
mixed_data_types = list()

mixed_data_types = ["Géo", 21, 1.6, "Monsieur", "Calavi"]

print(mixed_data_types)

['Géo', 21, 1.6, 'Monsieur', 'Calavi']

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

In [28]:
it_companies = list()

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle" , "Amazon"]

print("La liste des entreprises est:\n\n" +str(it_companies))

print("\nLa longueur de la liste est: " +str(len(it_companies)))

print("\nLa première entreprise est " +it_companies[0])

print("\nLa moyenne entreprise est " +it_companies[len(it_companies)//2])

print("\nLa dernière entreprise est " +it_companies[len(it_companies)-1])

it_companies[2] = "Whatsapp"

print("\nLa liste après avoir modifié la troisième entreprise est:\n\n" +str(it_companies))

a = len(it_companies)

it_companies.insert(4, "Skype")

print("\nLa liste après avoir ajouté une entreprise informatique est:\n\n" +str(it_companies))

a = len(it_companies)//2

it_companies.insert(a, "Zoom")

print("\nLa liste après avoir ajouté une entreprise informatique au milieu est:\n\n" +str(it_companies))

for i in it_companies:
    if i != "IBM":
        i=i.upper()
        break
        
#print(it_companies
        
print("\nLa liste après avoir changé en majuscule le nom d'une entreprise est:\n\n" +str(it_companies))

ch = ["# ; "]

print("\nLa liste après l'avoir joigné les it_companies avec une chaîne '# ; ' est:\n\n" +str(it_companies + ch))

it_companies.sort()
print("\nLa liste après l'avoir trié avec la méthode sort() est:\n\n" +str(it_companies))

it_companies.reverse()
print("\nLa liste après l'avoir inversé avec la méthode reverse() est:\n\n" +str(it_companies))

for i in range(0,3):
    it_companies.remove(it_companies[i])
    
print("\nLa liste après avoir supprimé les trois premières entreprises est:\n\n" +str(it_companies))

i = 0

while i < 3:
    it_companies.remove(it_companies[-1])
    i+=1
    
print("\nLa liste après avoir supprimé les trois dernières entreprises est:\n\n" +str(it_companies))

it_companies.remove(it_companies[len(it_companies)//2])

print("\nLa liste après avoir supprimé l'entreprises du milieu est:\n\n" +str(it_companies))

for i in it_companies:
    if i == "Whatsapp" or i == "Google" or i == "Facebook" or i == "Microsoft" or i == "Apple" :
        it_companies.remove(i)
        break

print("\nLa liste après avoir supprimé la première entreprise informatique est:\n\n" +str(it_companies))

for i in it_companies:
    if i == "Whatsapp" or i == "Google" or i == "Facebook" or i == "Microsoft" or i == "Apple" :
        it_companies.remove(i)
        
print("\nLa liste après avoir supprimé la dernière entreprise informatique est:\n\n" +str(it_companies))

for i in it_companies:
    if i == "Whatsapp" or i == "Google" or i == "Facebook" or i == "Microsoft" or i == "Apple" :
        it_companies.remove(i)
        
print("\nLa liste après avoir supprimé toutes les entreprises informatiques est:\n\n" +str(it_companies))

del it_companies
print("\nOn essaie d'afficher la liste 'it_companies' après sa destruition.\nL'erreur suivante va nous montrer que la liste 'it_companies' n'est pas définie.")
print(it_companies)

La liste des entreprises est:

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

La longueur de la liste est: 7

La première entreprise est Facebook

La moyenne entreprise est Apple

La dernière entreprise est Amazon

La liste après avoir modifié la troisième entreprise est:

['Facebook', 'Google', 'Whatsapp', 'Apple', 'IBM', 'Oracle', 'Amazon']

La liste après avoir ajouté une entreprise informatique est:

['Facebook', 'Google', 'Whatsapp', 'Apple', 'Skype', 'IBM', 'Oracle', 'Amazon']

La liste après avoir ajouté une entreprise informatique au milieu est:

['Facebook', 'Google', 'Whatsapp', 'Apple', 'Zoom', 'Skype', 'IBM', 'Oracle', 'Amazon']

La liste après avoir changé en majuscule le nom d'une entreprise est:

['Facebook', 'Google', 'Whatsapp', 'Apple', 'Zoom', 'Skype', 'IBM', 'Oracle', 'Amazon']

La liste après l'avoir joigné les it_companies avec une chaîne '# ; ' est:

['Facebook', 'Google', 'Whatsapp', 'Apple', 'Zoom', 'Skype', 'IBM', 'Oracle', 'Amazon', '# ; ']

La liste après l'avoir trié avec la méthode sort() est:

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Oracle', 'Skype', 'Whatsapp', 'Zoom']

La liste après l'avoir inversé avec la méthode reverse() est:

['Zoom', 'Whatsapp', 'Skype', 'Oracle', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

La liste après avoir supprimé les trois premières entreprises est:

['Whatsapp', 'Oracle', 'Google', 'Facebook', 'Apple', 'Amazon']

La liste après avoir supprimé les trois dernières entreprises est:

['Whatsapp', 'Oracle', 'Google']

La liste après avoir supprimé l'entreprises du milieu est:

['Whatsapp', 'Google']

La liste après avoir supprimé la première entreprise informatique est:

['Google']

La liste après avoir supprimé la dernière entreprise informatique est:

[]

La liste après avoir supprimé toutes les entreprises informatiques est:

[]

On essaie d'afficher la liste 'it_companies' après sa destruition.
L'erreur suivante va nous montrer que la liste 'it_companies' n'est pas définie.

NameError: name 'it_companies' is not defined

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [116]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

back_end = ['Node','Express', 'MongoDB']

front_end = front_end+back_end

print('',front_end)

 ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [21]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

print("La liste:\n" +str(ages))

ages.sort()

print("\nLa liste après le tri:\n" +str(ages))

print("\nmax = {}, min = {}".format(max(ages), min(ages)))

mi = min(ages)
ma = max(ages)

ages.extend([mi,ma])

print("\nLa liste après avoir ajouté le minimum et le maximum:\n" +str(ages))

if len(ages)%2==0:
    a = len(ages)//2
    print("\nL'âge médian est: " +str((ages[a-1]+ages[a])/2))
    
else:
    a = len(ages)//2
    print("\nL'âge médian est: " +str(ages[a]))

moy = sum(ages)/len(ages)
print("\nL'âge moyen est: " +str(moy))

print("\nL'intervalle des âges (max moins min) est: " +str(ma-mi))

if abs(min(ages)-moy)>abs(max(ages)-moy):
    print("\n(min - moyenne) < (max - moyenne)")
    
else:
    print("\n(min - moyenne) > (max - moyenne)")

La liste:
[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

La liste après le tri:
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

max = 26, min = 19

La liste après avoir ajouté le minimum et le maximum:
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

L'âge médian est: 24.0

L'âge moyen est: 22.75

L'intervalle des âges (max moins min) est: 7

(min - moyenne) < (max - moyenne)

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

In [25]:
dog=dict()

dog['nom'], dog['couleur'], dog['race'], dog['pattes'], dog['age'] = 'chat','grise','carni',4,6
print(dog)

student=dict()

student={'prenom':'chadrack','nom':'bahati','sexe':'M','etat civil':'celibataire','competances':['maths','politique','ecriture'],'pays':'RDC','adresse':'Mbour'}

print()

print(student)

print("\nLa longueur du dictionnaire student est " +str(len(student)))

print("\nLe type de donnée de la valeur des compétences est:")
print( type(student['competances']))

student['competances'].extend(['sapologie','chretien'])

print("\nLe dictionnaire student après avoir ajouté deux compétences:")
print(student)

print("\nLes clés du dictionnaire sous forme de liste:")
print(student.keys())

print("\nLes valeurs du dictionnaire sous forme de liste:")
print(student.values())

print("\nLe dictionnaire est transformé en une liste de tuples avec la méthode items()")
print(student.items())

del student['competances']
print("\nLe dictionnaire student après avoir supprimé les compétences:")
print(student)


del dog

{'nom': 'chat', 'couleur': 'grise', 'race': 'carni', 'pattes': 4, 'age': 6}

{'prenom': 'chadrack', 'nom': 'bahati', 'sexe': 'M', 'etat civil': 'celibataire', 'competances': ['maths', 'politique', 'ecriture'], 'pays': 'RDC', 'adresse': 'Mbour'}

La longueur du dictionnaire student est 7

Le type de donnée de la valeur des compétences est:
<class 'list'>

Le dictionnaire student après avoir ajouté deux compétences:
{'prenom': 'chadrack', 'nom': 'bahati', 'sexe': 'M', 'etat civil': 'celibataire', 'competances': ['maths', 'politique', 'ecriture', 'sapologie', 'chretien'], 'pays': 'RDC', 'adresse': 'Mbour'}

Les clés du dictionnaire sous forme de liste:
dict_keys(['prenom', 'nom', 'sexe', 'etat civil', 'competances', 'pays', 'adresse'])

Les valeurs du dictionnaire sous forme de liste:
dict_values(['chadrack', 'bahati', 'M', 'celibataire', ['maths', 'politique', 'ecriture', 'sapologie', 'chretien'], 'RDC', 'Mbour'])

Le dictionnaire est transformé en une liste de tuples avec la méthode items()
dict_items([('prenom', 'chadrack'), ('nom', 'bahati'), ('sexe', 'M'), ('etat civil', 'celibataire'), ('competances', ['maths', 'politique', 'ecriture', 'sapologie', 'chretien']), ('pays', 'RDC'), ('adresse', 'Mbour')])

Le dictionnaire student après avoir supprimé les compétences:
{'prenom': 'chadrack', 'nom': 'bahati', 'sexe': 'M', 'etat civil': 'celibataire', 'pays': 'RDC', 'adresse': 'Mbour'}

In [ ]:
student={'prenom':'chadrack','nom':'bahati','sexe':'M','etat civil':'celibataire','competances':['maths','politique','ecriture'],'pays':'RDC','adresse':'Mbour'}
len(student)
type(student['competances'])
student['competances'].extend(['sapologie','chretien'])
student['competances']
student.keys()
student.values()
student.items()

dog
del dog

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS !🎉 </span> </b></center>