<a href="https://colab.research.google.com/github/gabayae/colab-notebooks-in2py/blob/main/In2Py_TP_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



### <center> <b> <span style="color:blue;"> Travaux Pratiques: Boucles </span> </b></center>

#### Exercice 0
>On se propose de rÃ©soudre dans l'ensemble des entiers naturels l'inÃ©quation $2n(n+1)<100$.
En utilisant une boucle **While**, Ã©cris un programme qui renvoie les solutions entiÃ¨res de cette inÃ©quation.

In [2]:
n = 0
print("Les sonlutions de l'inÃ©quation 2n(n+1):")
while (2*n*(n+1) < 100) :
    print(n)
    n+=1

Les sonlutions de l'inÃ©quation 2n(n+1):
0
1
2
3
4
5
6

#### Exercice 1
> En utilisant une boucle **For**, Ã©cris un programme qui calcule la somme des 30 premiers entiers naturels non nuls.

In [3]:
sum = 0
for i in range(1,31):
    sum+=i
print("La somme des 30 premiers entiers est: " +str(sum))

La somme des 30 premiers entiers est: 465

#### Exercice 2
>Refais l'exercice 1 en utilisant une boucle **While**.

In [1]:
sum = 0
i = 1
while i <= 30 :
    sum+=i
    i+=1
print("La somme des 30 premiers entiers est: " +str(sum))

La somme des 30 premiers entiers est: 465

#### Exercice 3
>En utilisant une boucle **For**, Ã©cris un programme qui calcule le produit des 9 premiers entiers naturels non nuls.

In [1]:
produit = 1

for i in range(1,10):
    produit*=i
    
print("Le produit des 9 premiers entiers est: " +str(produit))

Le produit des 9 premiers entiers est: 362880

#### Exercice 4
> Refais l'exercice 3 en utilisant une boucle **While**.

In [2]:
produit = 1
i = 1

while i <= 9 :
    produit*=i
    i+=1
    
print("Le produit des 9 premiers entiers est: " +str(produit))

Le produit des 9 premiers entiers est: 362880

#### Exercice 5 
>Ã‰cris un programme qui demande Ã  l'utilisateur de saisir un nombre n et qui affiche tous les nombres pairs de $1$ Ã  $n$ en utilisant la boucle **For**.

In [6]:
n = 0

while n < 1 :
    n = int(input("Entrez en entier non nul: "))

print("\nLes nombres pairs de 1 Ã  " +str(n))

for i in range(1,n+1):
    if i%2 == 0:
        print(i)

Entrez en entier non nul: 25

Les nombres pairs de 1 Ã  25
2
4
6
8
10
12
14
16
18
20
22
24

#### Exercice 6
>Refais l'exercice 5 en utilisant la boucle **While**.

In [1]:
n = 0

while n < 1 :
    n = int(input("Entrez en entier non nul: "))

i = 1

print("\nLes nombres pairs de 1 Ã  " +str(n))

while i <= n :
    if (i%2 == 0):
        print(i)
    i+=1

Entrez en entier non nul: 25

Les nombres pairs de 1 Ã  25
2
4
6
8
10
12
14
16
18
20
22
24

#### Exercice 7
>Ã‰cris un programme qui demande Ã  l'utilisateur de saisir un nombre n et qui affiche tous les nombres impairs de 1 Ã  n en utilisant la boucle **For**.

In [1]:
n = 0

while n < 1 :
    n = int(input("Entrez en entier non nul: "))
    
print("\nLes nombres impairs de 1 Ã  " +str(n))

for i in range(1,n+1):
    if (i%2 != 0):
        print(i)

Entrez en entier non nul: 25

Les nombres impairs de 1 Ã  25
1
3
5
7
9
11
13
15
17
19
21
23
25

#### Exercice 8
>Refais l'exercice 7 en utilisant la boucle **While**.

In [2]:
n = 0

while n < 1 :
    n = int(input("Entrez en entier non nul: "))

i = 1

print("\nLes nombres impairs de 1 Ã  " +str(n))

while i <= n :
    if i%2 != 0:
        print(i)
    i+=1

Entrez en entier non nul: 25

Les nombres impairs de 1 Ã  25
1
3
5
7
9
11
13
15
17
19
21
23
25

#### Exercice 9
>Ã‰cris un programme qui demande Ã  l'utilisateur de saisir un nombre n et qui affiche sa table de multiplication  en utilisant la boucle **For**.

In [1]:
n = int(input("Entrez un nombre: "))

for i in range(0,10):
    print(str(i)+ " * " +str(n)+ " = " +str(i*n))

Entrez un nombre: 8
0 * 8 = 0
1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72

#### Exercice 10
>Refais l'exercice 9 en utilisant la boucle **While**.

In [2]:
n = int(input("Entrez un nombre: "))

i = 0

while i < 10:
    print(str(i)+ " * " +str(n)+ " = " +str(i*n))
    i+=1

Entrez un nombre: 9
0 * 9 = 0
1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81

#### Exercice 11
>Ã‰cris un programme qui demande Ã  l'utilisateur d'entrer un nombre et de trouver tous ses diviseurs  en utilisant la boucle **For**.

In [3]:
n = int(input("Entrez un nombre: "))
   
print("Les diviseurs de " +str(n)+ " sont:")

for i in range(1, n+1):
    if n%i == 0:
        print(i)
        print(-i)

Entrez un nombre: 25
Les diviseurs de 25 sont:
1
-1
5
-5
25
-25

#### Exercice 12
>Ã‰cris un programme qui demande Ã  l'utilisateur d'entrer un entier naturel n et de trouver tous sa factorielle n!  en utilisant la boucle **For**. On rappelle que $n!=n*(n-1)*(n-2)...3*2*1$.

In [2]:
n = -1
while n < 0 :
    n = int(input("Entrez en entier naturel: "))

fac = 1

print("Le factoriel de " +str(n)+ " est:")

for i in range(1, n+1):
    fac*=i
    
print(fac)

Entrez en entier naturel: 6
Le factoriel de 6 est:
720

#### Exercice 13
>Ã‰cris un programme qui demande Ã  l'utilisateur d'entrer deux entiers naturels (plus petits que 15) et de trouver leur plus petit commun multiple utilisant la boucle **For**.

In [3]:
n = -1
m = -1
while n < 0 or n >15:
    n = int(input("Entrez un premier entier naturel (plus petits que 15): "))

while m < 0 or m >15:
    m = int(input("Entrez un second entier naturel (plus petits que 15): "))

a = n*m

if n == 0 or m == 0 :
    print("Le plus petit commun multiple est 0" )
    
else:
    for i in range(1, a+1):
        if (i%n==0 and i%m==0):
            print("Le plus petit commun multiple est: " +str(i))
            break

Entrez un premier entier naturel (plus petits que 15): 5
Entrez un second entier naturel (plus petits que 15): 17
Entrez un second entier naturel (plus petits que 15): 13
Le plus petit commun multiple est: 65

#### Exercice 14
>Ã‰cris un programme pour afficher la sÃ©rie de Fibonacci jusqu'Ã  n termes en utilisant une boucle.

In [8]:
n = -1
while n < 0:
    n = input("Entrez un entier: ")
    n = int(n)
    
(a,b,c) = (0,1,0)

while(c < n):
    (a,b,c) = (b,a+b, c+1)
    print(b)

Entrez un entier: 100
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026
354224848179261915075
573147844013817084101

#### Exercice 15
>Ã‰cris, en utilisant une boucle **For**, un programme pour afficher 5 fois de suite le message "Python est un trÃ¨s bon langage de programmation".

In [22]:
for i in  range(0,5):
    print("Python est un trÃ¨s bon langage de programmation")

Python est un trÃ¨s bon langage de programmation
Python est un trÃ¨s bon langage de programmation
Python est un trÃ¨s bon langage de programmation
Python est un trÃ¨s bon langage de programmation
Python est un trÃ¨s bon langage de programmation

#### Exercice 16
>Ã‰cris, en utilisant une boucle **While**, un programme pour afficher 7 fois de suite le message "A cette allure je finirai par tout abandonner pour la programmation".

In [21]:
i = 0
while i < 7:
    print("A cette allure je finirai par tout abandonner pour la programmation")
    i+=1

A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation

#### Exercice 17
>Ã‰cris, en utilisant une boucle **For**, un programme qui compte Ã  l'envers de 10 Ã  0 puis qui affiche le message "Partez".

In [9]:
for i in range(0,11):
    print(10-i)
print("Partez")

10
9
8
7
6
5
4
3
2
1
0
Partez

#### Exercice 18
>Ã‰cris, en utilisant une boucle **For**, un programme qui affiche chaque Ã©lÃ©ment d'une chaine de caractÃ¨re.

In [20]:
ch = input("Entrez une chaÃ®ne: ")

for i in ch :
    print(i)

Entrez une chaÃ®ne: je suis au cours
j
e

s
u
i
s

a
u

c
o
u
r
s

#### Exercice 19
>Ã‰cris, en utilisant une boucle **For**, un programme qui compte Ã  l'envers de 10 Ã  0 puis qui affiche le message "Partez".

In [19]:
for i in range(0,11):
    print(10-i)
print("Partez")

10
9
8
7
6
5
4
3
2
1
0
Partez

<center> <b> <span style="color:orange;"> ðŸŽ‰ FÃ‰LICITATIONS ! ðŸŽ‰ </span> </b></center>